POSTGRES_SERVER=postgres
POSTGRES_USER=indico
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=indico

INDICO_BASE_URL=http://localhost:9090
INDICO_SUPPORT_EMAIL=help@localhost
INDICO_NOREPLY_EMAIL=noreply@localhost

INDICO_REDIS_SERVER=redis
INDICO_SMTP_SERVER=localhost
INDICO_PLUGINS=wp

OAUTH2_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
OAUTH2_CLIENT_SECRET=YYYYYYYYYYYYYYYYYYYYY
OAUTH2_SCOPES=openid user email
OAUTH2_JWKS_URI=https://iam.unipi.it/oauth2/jwks
OAUTH2_AUTHORIZE_URI=https://iam.unipi.it/oauth2/authorize
OAUTH2_ACCESS_TOKEN_URI=https://iam.unipi.it/oauth2/token
OAUTH2_USERINFO_URI=https://iam.unipi.it/oauth2/userinfo
